doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="renderer" content="webkit")
    meta(http-equiv="Cache-Control" content="no-siteapp")
    link(rel='stylesheet', href='./assets/css/clear.css')
    link(rel='stylesheet', href='./assets/css/public.css')
    link(rel='stylesheet', href='./assets/css/header.css')
    script(src="./assets/js/lib/jquery.min.js")
    script(src="./assets/js/config/index.js")
    script(src="./assets/js/utils/BroadcastChannel.js")
    script(src="./assets/js/utils/utils.js")
    script(src="./assets/js/utils/ipcRenderer.js")


    script.
      if (typeof module === 'object') {window.jQuery = window.$ = module.exports;};
    block title

  body

    //- 网站主体内容，从 main/*.jade 被载入
    block content

    //- 公共网站版权
    include ./public/footer

    block script
    script(src="./assets/js/page/header.js")
