.header
  ul
    li.closed-action
      img(src="./assets/img/closed.svg")
    li.minimize-action
      img(src="./assets/img/minimize.svg")
    li.maximization-action
      img(src="./assets/img/maximization.svg")
