extends ./../layout

//- 网站的头部信息这边拆分出来，便于每个页面的SEO配置和配置页面独有的css，js
block title

  title PugToHtml
  link(rel='stylesheet', href='./assets/css/index.css')


//- 网站的主体内容区域
block content
  //- 公共网站头部
  include ../public/header
  .main
    .left
      textarea.html.f(placeholder="Html")
      .menu
        .menu_l
          .power
            //- 电池左边小点
            .power_spot
            //- 电池剩余数字电量
            .power_quantity 0
            //- 电池剩余填充图电量
            .power_fill
          img(class="openHtmlFile" src="./assets/img/html.svg", title="打开html文件", alt="打开html文件")
          img(class="openPugFile" src="./assets/img/pug.svg", title="打开pug文件", alt="打开pug文件")
          img(class="deleteText" src="./assets/img/delete.svg", title="清空", alt="清空")
          img(class="openSetting" src="./assets/img/folder-config-open.svg", title="软件设置", alt="软件设置")

        .menu_r
          .times Time Loading...
    textarea.pug.f(placeholder="Pug/Jade")

block script
  script(src="./assets/js/page/index.js")
