extends ./../layout

//- 网站的头部信息这边拆分出来，便于每个页面的SEO配置和配置页面独有的css，js
block title

  title 欢迎使用
  link(rel='stylesheet', href='./assets/css/welcome.css')
  link(rel='stylesheet', href='./assets/js/lib/swiper/swiper.min.css')


//- 网站的主体内容区域
block content
  .welcome
    .swiper-container
      .swiper-wrapper
        .swiper-slide.w-item
          img(src="./assets/img/pic.png")
          h2 Html转Pug
          p 简约高效美观，全平台支持
          span.skip 跳过
        .swiper-slide.w-item
          img(src="./assets/img/html.svg")
          h2 Html
          p 一键上传，快速转换
        .swiper-slide.w-item
          img(src="./assets/img/pug.svg")
          h2 Pug/Jade
          p Pug/Jade，同步支持
        .swiper-slide.w-item
          img(src="./assets/img/folder-config-open.svg")
          h2 设置中心
          p 想你所爱，张扬个性
        .swiper-slide.w-item.del
          img(src="./assets/img/delete.svg")
          h2 清除输入
          p 繁杂不堪，回归简单
        .swiper-slide.w-item.start
          img(src="./assets/img/succ.svg")
          h2 开始使用
          p 带上电脑，说走就走

      .swiper-pagination

      .swiper-button-prev
      .swiper-button-next

block script
  script(src="./assets/js/lib/swiper/swiper.min.js")
  script(src="./assets/js/page/welcome.js")
